/* All elements will have no "hidden" margin or padding
Adding specific font*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Montserrat', sans-serif;
}

body {
    line-height: 1.6;
    color: gray;
    font-size: 1.8rem;
}

/* making header picture 100% wide */ 
.header {
    position: relative; 
    height: 1500px;
    border: 2px solid green;
}

.header-picture {
    background-image: url("../bilder/header.png.png");
    width: 100%;
    height: 1100px;
    background-size: 115%;
    background-position-x: center;
    background-repeat: no-repeat;
    z-index: 1;
}

/* placing text in header in the center */
.header-top {
    position: absolute;
    left: 46%;
    top: 4%;
    font-size: 1.25rem;
    color: black;
}

.header-text {
    position: absolute;
    left: 52%;
    top: 70%;
    font-size:2rem;
    color:rgba(0, 0, 0, 0.781)
}

.header-span1 {
    position:absolute;
    top: 80%;
    left: 18%;
    font-size:2.2rem;
}

.header-span2 {
    position: absolute;
    top: 83%;
    left: 45%;
    font-size: 2.2rem;
}

.wrapper1 {
    display: flex;
    flex-direction: row;
    margin-bottom: 4rem;
    border: 3px solid rgb(43, 138, 141);
    
}

.main1 {
    display:flex;
    flex-direction: column;
    width: 37%;
    margin-left: 15%;
    /*height: 1200px;*/
    border: 1px solid salmon;
    gap: 3rem;
}

.main-title {
    color: rgba(15, 15, 15, 0.774);
}

.mobile-front {
    width: 50%;
    /*height: 1200px;*/
    border: 1px solid seagreen;
    /*left: 60%;
    bottom: 60%;*/
}

.first-mobile-pic {
    position:relative;
    width:110%;
    bottom: 20%;
    right: 10%;
}

.video-section {
    background-color: rgba(0, 0, 0, 0.849);
    margin-bottom: 5rem;
}

video {
    width: 100%;
    height: 45rem;
}

.wrapper2 {
    display: flex;
    flex-direction: row;
    border: 3px solid hotpink;
}

.mobile-back {
    width: 45%;
    border: 1px solid seagreen;
    left: 60%;
    bottom: 60%;
}

.second-mobile-pic {
    position: relative;
    width:101%;
    right:3%;
    bottom: 16%;
}

.main2 {
    flex-direction: column;
    margin-top: 8rem;
    width: 40%;
    border: 1px solid salmon;
    gap: 3rem;
    text-align: end;
}

.main3 {
    display:flex;
    flex-direction: column;
    margin-left: 20%;
    width: 60%;
    border: 2px solid tomato;
    gap: 3rem;
}

.main-bottom{
    display:flex;
    flex-direction: column;
    border: 2px solid aqua;
    background-image: url("../bilder/Q1_newsletter-02.png");
    height: 900px;
    background-size: 100%;
    background-position-x: center;
    background-repeat: no-repeat;
    gap:3rem;
    margin-top: -1rem;
}

.main-text9 {
    align-self: center;
    margin-top: 15rem;
    color: rgba(15, 15, 15, 0.774)
}

.main-text10 {
    align-self:center;
    width: 65%;
    border: 1px dotted blue;    
    text-align: center;
}

.footer{
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.788);
    color: whitesmoke;
    gap:3rem;
    height:800px;
}

.footer-left {
    flex-direction: column;
    width: 30%;
    margin-left:15%;
    margin-top:6rem;
    border: 2px solid wheat;
}

.footer-right {
    flex-direction: column;
    width:30%;
    border: 2px solid orange;
    margin-top: 18rem;
    text-align: end;
}

/* Tweeks for screen width 570px */
@media (max-width: 570px) {
    body {
        line-height: 1.4;
        color: gray;
        font-size: 1rem;
    }

    .header {
        position: relative; 
        height: 580px;
        border: 2px solid rgb(138, 25, 104);
    }
    
    /* placing text in header in the center */
    .header-top {
        left: 45%;
        top: 4%;
        font-size: 0.75rem;
    }
    
    .header-text {
        left: 48%;
        top: 59%;
        font-size:1rem;
    }
    
    .header-span1 {
        top: 70%;
        left: 11%;
        font-size:0.9rem;
    }
    
    .header-span2 {
        top: 73%;
        left: 45%;
        font-size: 0.9rem;
    }

    .wrapper1 {
        margin-bottom: 0rem;
        height: 620px;     
    }
    
    .main1 {
        width: 50%;
        margin-left: 15%;
        border: 1px solid salmon;
        gap: 1rem;
        font-size: 0.9rem;
    }
    
    .mobile-front {
        width: 45%;
        border: 1px solid seagreen;
    }
    
    .first-mobile-pic {
        width:140%;
        height:80%;
        right:30%;
        top:-13%;
    }

    .video-section {
        margin-bottom: 2rem;
    }
    
    video {
        width: 100%;
        height: 20rem;
    }
    
    .wrapper2 {
        border: 3px solid hotpink;
        height: 500px;
    }
    
    .mobile-back {
        width: 45%;
        border: 1px solid seagreen;
    }
    
    .second-mobile-pic {
        width:140%;
        height:120%;
        right:10%;
        top:-15%;
    }
    
    .main2 {
        margin-top: 4rem;
        margin-left: 2rem;
        width: 48%;
        border: 1px solid salmon;
        gap: 3rem; /*doenst work!!*/
        font-size: 0.9rem;
    }

    .main3 {
        margin-left: 10%;
        width: 80%;
        border: 2px solid tomato;
        gap: 1rem;
        font-size: 0.9rem;
        margin-bottom: 0.5rem;
    }
    
    .main-bottom{
        border: 2px solid aqua;
        height: 258px;
        gap:3rem;
        background-size: 105%; /* skip ? */

        /* how do i make background pic larger */
    }
    
    .main-text9 {
        margin-top: 3rem;
        color: rgba(15, 15, 15, 0.774)
    }
    
    .main-text10 {
        width: 80%;
        border: 1px dotted blue;    
        font-size: 0.9rem;
    }
    
    .footer{
        color: whitesmoke;
        gap:3rem;  /* funkar ej */
        height:300px;
        font-size: 0.9rem;
    }
    
    .footer-left {
        width: 30%;
        margin-left:15%;
        margin-top:2rem;
        border: 2px solid wheat;
    }
    
    .footer-right {
        flex-direction: column;
        border: 2px solid orange;
        margin-top: 6rem;

        /*text doesnt show at the end!! */
    }

}

/*font-weight: 300, 700 osv lagt till i head*/

